demo-18avril2020-7/src/main/mule/demo-18avril2020-7.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="139e714c-937e-4444-8cc2-352a96ffd0ee" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="71077173-2f7b-410e-be9d-5f69322c4c70" >
		<vm:queues >
			<vm:queue queueName="CustomerQueue" />
		</vm:queues>
	</vm:config>
	<flow name="publishFlow" doc:id="54efd53b-ff6a-4f0d-b579-9cac7c96a780" >
		<http:listener doc:name="/POST customer" doc:id="d23f527e-78ac-4e79-bcbe-77c48c673d7e" path="/customer" allowedMethods="POST" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="837c78a4-ac00-4ef3-bf13-425799c845af" message="Before Publish"/>
		<vm:publish-consume queueName="CustomerQueue" doc:name="Publish consume" doc:id="eef73ada-4ae3-4e8d-a9e1-195e79c29ba8" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="5f7efa5e-ee42-4a56-8a02-d63884b8c0f3" message="After Publish"/>
	</flow>
	<flow name="SubscriberFlow" doc:id="ae5b96e0-d806-4344-aef7-ac11c989350d" >
		<vm:listener queueName="CustomerQueue" doc:name="Listener" doc:id="ba1a0c90-3021-49a6-aeb1-f33f2c680206" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="a14d0413-700c-487d-97c8-623b5ecebc6f" message="#[payload]"/>
	</flow>
</mule>
